.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.textlight{
  color: white;
}

.textdark
{
  color: black;
}
/* Waste Management CSS */

.sidebar {
  width: 250px;
  background-color: #f0f0f0;
  padding: 20px;
}

.container {
  margin-left: 255px;
}

.waste-container {
  display: flex;
  justify-content: space-around;
  margin-right: 20px;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.chart-container {
  background-color: #ecedf0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  flex: 1; 
  max-width: calc(50% - 20px); 
}

.chart-container:last-child {
  max-width: 100%; /* Full width for the last chart container */
  margin-right: 0; /* Remove right margin for the last chart */
}

.chart-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
  color: #333333;
}

.axis-label {
  font-size: 16px;
  font-weight: bold;
  color: #555555;
}

.tool-tip {
  background-color: rgba(0, 0, 0, 0.8);
  color: #ffffff;
  padding: 8px;
  border-radius: 4px;
  font-size: 14px;
}


@media (max-width: 768px) {
  .sidebar {
    width: 100%; 
    margin-bottom: 20px;
  }
  
  .container {
    margin-left: 0;
  }
}

/* ---end--- */

/* Number Plate Detection CSS */



/* --- end --- */

/* Login CSS */


.login-form21 {
  display: flex;
  margin-left: 250px;
  flex-direction: column;
  align-items: center;
  background-color: #fdfdfd;
  padding: 20px;
  box-shadow: 5px 5px rgba(92, 92, 92, 0.5);
  width: auto;
}

.login-form21 h2 {
  margin-bottom: 20px;
  text-align: center;
}

.login-container21 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
  background-color: #15171c;
  height: 100vh;
}


.form-control21 {
  margin-bottom: 20px;
  width: 300px;
}

.form-control21 label {
  display: block;
  margin-bottom: 5px;
}

.form-control21 input[type="text"],
.form-control21 input[type="password"] {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #272c33;
  background-color: #ccc;
  border-radius: 4px;
}


/* ---end--- */